# oh my posh setup
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config ~/.config/myshell/zen.toml)"
fi

# fish like auto-suggestions
# https://github.com/zsh-users/zsh-autosuggestions/blob/master/INSTALL.md#manual-git-clone
source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh

# SSH Agent Detection (1Password / Bitwarden)
{{- if eq .chezmoi.os "darwin" }}
ONEPASSWORD_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else if eq .chezmoi.os "linux" }}
ONEPASSWORD_SOCK="${HOME}/.1password/agent.sock"
{{- end }}
BITWARDEN_SOCK="${HOME}/.bitwarden-ssh-agent.sock"

if [ -S "$ONEPASSWORD_SOCK" ]; then
    export SSH_AUTH_SOCK="$ONEPASSWORD_SOCK"
    echo "🛡️ Using 1Password SSH Agent"
elif [ -S "$BITWARDEN_SOCK" ]; then
    export SSH_AUTH_SOCK="$BITWARDEN_SOCK"
    echo "🔐 Using Bitwarden SSH Agent"
fi

# The following lines have been added by Docker Desktop to enable Docker CLI completions.
fpath=({{ .chezmoi.homeDir }}/.docker/completions $fpath)

# Without this line, the git aliases below error out with
# compinit - command not found
autoload -Uz compinit && compinit

# git aliases and functions from
# https://github.com/ohmyzsh/ohmyzsh/blob/master
source ~/.config/myshell/git.zsh
source ~/.config/myshell/git.plugin.zsh

# custom aliases
source ~/.aliases

# asdf
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
# append completions to fpath
fpath=(${ASDF_DATA_DIR:-$HOME/.asdf}/completions $fpath)

# load tokens into env
if [ -f ~/.tokens ]; then
	source ~/.tokens
fi

# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit

# must be added after compinit is called
eval "$(zoxide init zsh)"
